html{
width:100%;
height:100%;}
body{
background:#fff;
font-size:18px;
font-family:"Arial", "Tahoma", "微软雅黑", "雅黑";
line-height:18px;
padding:0px;
margin:0px;
text-align:center;
}
img{border:0px;vertical-align:middle;padding:0;margin:0}
input, button{font-family:"Arial", "Tahoma", "微软雅黑", "雅黑";border:0;
vertical-align:middle;margin:8px;line-height:18px;font-size:18px}
#Header{
width:100%;
margin:0 auto;/*页面得一居中*/
height:15%;
background:#ffe4ca;
}
#center {
height:85%;
width:100%;
background-color:#ecf2ff;
}
#footer{
	height:10%;
	width:100%;
	background-color:#ffe4ca;
}
#menu ul{
float:right;
list-style:none;
margin:0px;
}
#menu li{
font-size:24px;
float:left;
list-style:none;
align:center;
}
#menu a{
	color:#000000;text-decoration:none;margin:10px;/*<!--text-decoration:none去掉下划线-->*/padding-top:50px;/*display:block;*/display:block;
	padding-right:60px;padding-bottom:0px;
	padding-left:60px;
	}
#menu a:hover,a:active{color: #0000ff;}
.login li{
font-size:24px;
float:left;
list-style:none;
align:right;
}
.logon a{
  color:#000000;text-decoration:none;margin:20px;/*<!--text-decoration:none去掉下划线-->*/padding-top:50px;/*display:block;*/display:block;
  padding-right:10px;padding-bottom:0px;
  padding-left:60px;
  }


.hotproject{
float:left;width:300px;
margin:0 15px;
height: 200px;
}
.hotproject table{
	padding-top:100px;	
cellpadding:0px;
cellspacing:0;
border:0;
width:100%;
background-color:#f8f5f5;
}
.hotproject table tr{
	height:40px;
}
.hotproject table tr td{
text-align: left;
color:#6292BE;
font-size:16px;
border-width: 0;
width: 70%;
}
table {
border: 1px solid black;
border-collapse: collapse;
margin: 10px auto;
width:70%;
align:left;
cellpadding:0px;
cellspacing:0px;
}
table thead tr th {
border: 1px solid black;
padding: 3px;
background-color: #FFFFFF;
}
table tbody tr td {
border: 1px solid black;
padding: 3px;
}